body {
  background: #000;
  overflow: hidden;
}
.container-sky {
  width: 100%;
  min-height: 100%;
  background: rgb(0, 0, 0);
}
.lantran-all {
  position: absolute;
  bottom: -5%;
  left: 0;
  animation: fly 10s infinite linear;
}

.lantran {
  bottom: 0;
  left: 0% !important;
  animation: fly 10s infinite linear;
}
.lantran1 {
  bottom: 0;
  left: 10% !important;
  animation: fly 20s infinite linear;
}

@keyframes fly {
  0% {
    left: 0%;
    bottom: -5%;
  }
  50% {
    left: 0%;
    bottom: 50%;
  }
  100% {
    left: 0%;
    bottom: 100%;
  }
}
